cache/
out/
.gas-snapshot
.vscode/
.env
.encryptedKey
broadcast/

node_modules
package-lock.json

.DS_Store
src/.DS_Store
steps_to_test.txt
notes.txt
contract_focus.txt
how_to_ccip.txt
issues.txt
automation.txt